name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches-ignore:
      - main 
      - 'release/**'
jobs:
  build-android:
    name: Build Android AOK
    runs-on: ubuntu-latest
    working-directory: ./alfie_flutter

    steps:
      - uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
          
      - name: Install dependencies
        run: flutter pub get

      - name: Linting
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --release

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
    


  build-ios:
    name: Build iOS IPA
    runs-on: macos-latest
    working-directory: ./alfie_flutter
    steps:
      - uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
          
      - name: Install dependencies
        run: flutter pub get

      - name: Linting
        run: flutter analyze

      - name: Run tests
        run: flutter test

      # - name: Flutter build ipa
      #   run: |
      #     flutter build ipa

      # - name: Upload artifact
      #   uses: actions/upload-artifact@v6
      #   with:
      #     name: ios-ipa
      #     path: build/ios/ipa/*.ipa
